h1 {
   border:  3px double pink;
   background-image: url("/data/headerrock.PNG");
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 120px;
    color: pink;
    text-shadow: 5px 5px red;
    border: black;
    display: block;
    margin: 2px;
           }

h2 {
   text-shadow: 0 0 10px black;
   text-align: center;   
 /* background-color:rgb(40, 246, 178);*/
   font-size: 50px;
   color:aqua;
}

canvas {
   border: 3px double pink;
   padding: 0;
   margin: auto;
   display: block;
  
}

iframe {
   border: 3px double pink;
   margin: 20px;
   display: inline;
}

#puzzle {
   border: 0px double rgb(47, 2, 245);
   text-align: center;
   margin-bottom:100px;
   margin: auto;
   display: block;
 }


#main {
   border: 5px  double pink;
   background: linear-gradient(#030338, #cb9af8);
   margin: 0px

}

